In [24]:
import pandas as pd
import sys
import os

# TODO:
# - compare features of train and test sets


# input files: [path, delimeter]
X_file = ["../data/derived/train_cdk.des", ' ']
Y_file = ["../data/raw/train.csv", ',']
X_test_file = ["../data/derived/test_cdk.des", ' ']
folder_put = "../data/preprocessed"

X_des =  ["../data/derived/train_substr.csv", ',']
X_test_des =  ["../data/derived/test_substr.csv", ',']

In [35]:
# names of specific columns
y_column_name = "sol_category"
# ID of examples is 'Id'

# read
data = pd.read_csv(X_file[0], delimiter=X_file[1])
data_y = pd.read_csv(Y_file[0], delimiter=Y_file[1])

data_test = pd.read_csv(X_test_file[0], delimiter=X_test_file[1])


data_des = pd.read_csv(X_des[0], delimiter=X_des[1])
data_test_des = pd.read_csv(X_test_des[0], delimiter=X_test_des[1])
sys.stdout.write("Data was imported \n")

# rename
data_y = data_y.loc[:, ['Id', y_column_name]]
data_y.rename(columns={y_column_name: "Y"}, inplace=True)
data.rename(columns={'Title': 'Id'}, inplace=True)
data_test.rename(columns={'Title': 'Id'}, inplace=True)


#Merge with descriptors
data = pd.merge(data_des, data, on='Id')
data_test = pd.merge(data_test_des, data_test, on='Id')

#Sort
data_y.sort_values(by='Id')
data.sort_values(by='Id')

#keep only shared columns
shared = set(data.columns) & set(data_test.columns)
shared = list(shared)
data = data.loc[:,shared]
data_test = data_test.loc[:,shared]




# check if the same Id for X and Y

list_id_x = list(data['Id'])
list_id_y = list(data_y['Id'])
for i, n in enumerate(list_id_x):
    if n != list_id_y[i]:
        sys.exit(f'Error. Id# {i} are different: {n} and {list_id_y[i]}')

# placeholder for memory reduction
df_train = data
df_train_y = data_y
df_test = data_test

sys.stdout.write("Data was prepared \n")

Data was imported
Data was prepared

19

In [36]:
df_train.shape

(70711, 43)

In [37]:
df_train.to_pickle(os.path.join(folder_put, "X.pk"))
df_train_y.to_pickle(os.path.join(folder_put, "Y.pk"))
df_test.to_pickle(os.path.join(folder_put, "test.pk"))

sys.stdout.write(f"Data was saved in {folder_put} \n")

Data was saved in ../data/preprocessed

40

In [26]:
data_test_des

,Id,sma_0,sma_1,sma_2,sma_3,sma_4,sma_5,sma_6,sma_7,sma_8,...,sma_17,sma_18,sma_19,sma_20,sma_21,sma_22,sma_23,sma_24,sma_25,sma_26
0,EOS10000,1,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,8,0,3,0
1,EOS100001,0,4,3,0,0,0,0,9,0,...,0,0,0,0,1,0,21,0,2,1
2,EOS100004,0,1,0,1,0,0,0,2,1,...,0,0,0,0,0,0,10,1,5,1
3,EOS100005,1,0,1,2,0,0,0,1,0,...,0,0,0,0,0,0,10,0,6,2
4,EOS100008,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,2,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30302,EOS97822,0,0,2,0,0,0,1,0,0,...,0,0,1,0,1,0,10,0,2,0
30303,EOS97834,0,1,1,0,0,0,0,3,0,...,0,0,0,0,0,0,7,1,2,1
30304,EOS97889,0,1,1,0,0,0,1,2,0,...,0,0,0,0,0,0,6,1,4,2
30305,EOS97969,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,8,0,3,0
30306,EOS98164,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,8,0,2,1