In [1]:
import pickle

import pandas as pd
from os.path import join
import os

# Sk learn

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import f1_score, cohen_kappa_score
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

In [2]:
data_folder = '../data/preprocessed/'
X = pd.read_pickle(join(data_folder, "X.pk"))
y = pd.read_pickle(join(data_folder, "Y.pk"))

X_mat = X.values
y_vec = y.values.flatten()
X_train, X_test, y_train, y_test = train_test_split(X_mat, y_vec, test_size=0.2, random_state=123)

In [3]:
X.to_pickle("1.pk.zip")

In [7]:
X1 = pd.read_pickle("1.pk.zip")

In [8]:
X1

,ALogP,ALogp2,AMR,fragC,nAcid,apol,naAromAtom,nAromBond,nAtom,nBase,...,VSA_EState1,VSA_EState10,VSA_EState2,VSA_EState3,VSA_EState4,VSA_EState5,VSA_EState6,VSA_EState7,VSA_EState8,VSA_EState9
Id,,,,,,,,,,,,,,,,,,,,,
EOS1,1.0969,1.203190,105.7075,2494.07,0,63.657825,12,12,55,0,...,26.615553,0.000000,0.159861,18.879697,-0.652499,0.000000,7.398573,1.392039,3.672186,-3.632075
EOS10,0.9086,0.825554,117.1267,2729.09,0,66.822618,15,16,58,0,...,27.704028,0.000000,18.354067,11.599223,0.493665,1.143042,5.445655,1.720575,2.873959,-3.750880
EOS100,0.4567,0.208575,93.7899,1798.09,0,54.390653,11,11,48,0,...,7.039137,6.075027,16.970400,0.799212,2.813085,-0.261536,15.700130,0.942190,6.866799,0.000000
EOS1000,0.7691,0.591515,93.8909,2159.07,0,56.670825,11,11,51,1,...,0.000000,1.528517,26.572196,4.720243,7.003229,-0.328539,11.952909,0.442525,2.108921,0.000000
EOS100002,0.8965,0.803712,103.4245,3654.04,0,68.288548,0,0,63,0,...,7.033388,0.000000,36.868656,4.021325,0.436970,1.692583,0.004598,6.875597,3.232927,1.833956
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
EOS9994,-0.4863,0.236488,83.2489,1175.10,0,45.823481,11,11,40,0,...,27.898628,0.000000,13.353527,4.059024,0.000000,0.119931,0.000000,4.243713,3.654662,-0.246151
EOS9995,0.2530,0.064009,97.8564,2375.07,0,58.916204,6,6,54,1,...,8.786079,0.000000,12.104547,4.296614,2.933211,0.874860,11.666740,2.462269,5.209014,0.000000
EOS9997,-1.3380,1.790244,73.9395,1384.06,0,46.446653,5,5,41,0,...,5.316860,0.000000,17.385403,7.353847,1.804525,1.923663,7.614388,2.317285,3.528831,1.755198
EOS9998,0.2192,0.048049,82.1577,2049.06,0,54.055825,9,10,49,0,...,0.000000,0.000000,29.946503,3.332951,0.636007,2.292713,5.572147,8.379630,8.340050,0.000000
EOS9999,-0.3237,0.104782,94.7807,1951.09,0,53.595446,10,10,48,0,...,10.952856,0.000000,29.155869,7.575969,-0.019394,2.218218,3.488447,9.783119,1.844915,0.000000